@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --white: #fff;
  --gray-dark: #91a1bd;
  --indigo: #626ee3;
  --gray: #dee9fd;
  --bg-dark: #02203c;
  --dark-accent: #15314b;
  --dark-gray: #475f7c;
  --dark-accent-light: #005a76;
}
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-accent-light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(49, 49, 49);
}
a {
  text-decoration: none;
}
.container {
  width: 100vw;
  height: 100vh;
}
.error {
  font-size: 10px;
  color: #ff4081;
  font-weight: bold;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.justify-space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.align-flex-end {
  align-items: flex-end;
}
.align-flex-start {
  align-items: flex-start;
}
.bg-gray {
  background-color: var(--gray);
}
.flex-column {
  flex-direction: column;
}
.login_form {
  width: 95%;
  background-color: var(--white);
  height: 48vh;
  border-radius: 10px;
  padding: 30px;
}
.user_img {
  width: 120px;
  height: 120px;
  background-color: var(--gray-dark);
  border-radius: 50%;
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
}
.form_content {
  height: calc(100% - 90px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.mb-20 {
  margin-bottom: 20px;
}
.p-10 {
  padding: 10px;
}
nav {
  width: 180px;
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px 10px;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
}
nav.collaps {
  width: 60px;
  height: 100%;
}
header {
  flex: 1;
  height: 80px;
  background-color: var(--white);
  margin-left: 20px;
  border-radius: 20px;
  padding: 0 50px;
}
.router_body {
  color: var(--dark-gray);
}
.user_icon {
  cursor: pointer;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  color: var(--white);
  background-color: var(--gray-dark);
  border-radius: 50%;
}
.nav_link {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--gray-dark);
  font-weight: bold;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.map {
  width: 200px;
  height: 200px;
  background-color: red;
  overflow: hidden;
}
.stat_group {
  width: 100%;
  height: 70vw;
  background-color: var(--white);
  border-radius: 30px;
  margin: 10px 0;
  padding: 30px;
}
nav.collaps .nav_link span {
  display: none;
}
.text {
  width: calc(100% - 40px);
}
.nav_link:hover,
.nav_link.active {
  background-color: var(--dark-gray);
  color: var(--white);
}
.routes {
  padding: 10px;
  padding-left: 20px;
  height: calc(100% - 80px);
  overflow-y: auto;
}
.agents {
  width: 100%;
  height: calc(100vh - 120px);
}
.agent {
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
}
.nav_icon {
  width: 40px;
  height: 40px;
}
.form_input,
.btn_submit {
  background-color: var(--gray);
  width: 100%;
  height: 45px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.input {
  border: none;
  outline: none;
  background-color: none;
  background: none;
  font-weight: bold;
  flex: 1;
}
.btn_submit {
  border-radius: 5px;
  border: 1px solid var(--gray-dark);
  background-color: var(--gray-dark);
  color: var(--white);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.btn_submit.dark-indigo {
  border: 1px solid var(--indigo);
}
.light-white-bg {
  background-color: var(--white);
}
.icon {
  width: 50px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
}
.theme {
  position: absolute;
  top: 10px;
  right: 10px;
}
.user span {
  font-weight: bold;
  margin: 0 10px;
}
.router_body {
  flex: 1;
}
.options {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 4px solid var(--gray);
}
.search {
  width: 300px;
  height: 50px;
  display: flex;
  padding: 0 10px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--gray-dark);
}
.options button.btn_submit {
  background-color: var(--dark-gray);
  border-color: var(--dark-gray);
}

.search input {
  background-color: none;
  background: none;
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  color: var(--white);
}
.search.dark-search {
  background-color: var(--bg-dark);
}
.table_list.dark .options {
  border-color: var(--bg-dark);
}

table,
th,
td {
  /* border: 1px solid var(--white); */
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  cursor: pointer;
}
th {
  text-align: left;
  cursor: pointer;
}
table {
  border-spacing: 5px;
}
table {
  width: 100%;
}
.table_list {
  background-color: var(--white);
  width: 90%;
  max-height: 100%;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 20px 0;
}
/* thead {
  background-color: var(--bg-dark);
} */

tr {
  margin-bottom: 20px;
  border-top: 4px solid var(--gray);
  border-bottom: 4px solid var(--gray);
}
.table_list.dark-accent table,
th,
td {
  border-color: var(--dark-accent);
}
.table_list.dark table thead {
  color: var(--white);
}
.table_list.dark table tbody {
  color: var(--gray-dark);
}
.table_list.dark table tr {
  border-color: var(--bg-dark);
}
.table_list.dark {
  background-color: var(--dark-accent);
}
.location-search-input {
  padding: 10px;
  width: 100%;
  color: var(--dark-gray);
}
.full_screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_route {
  width: 95%;
  height: 95%;
  background-color: var(--gray);
  border-radius: 30px;
  padding: 20px;
  overflow-y: auto;
}
.fab {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
}

.fab.dark-indigo {
  color: var(--white);
}

.agent_img {
  width: 200px;
  height: 200px;
  background-color: var(--gray);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.ph-10 {
  padding: 0 10px;
}

.dark-indigo {
  background-color: var(--indigo);
}
.dark-gray-color {
  color: var(--gray);
}

@media (min-width: 600px) {
  .login_form {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }
  .stat_group {
    width: 300px;
    height: 300px;
    padding: 40px;
  }
  .login_form h3 {
    margin-top: 20px;
  }
  .agents {
    display: flex;
  }
  .agents .list {
    flex: 1;
    margin-right: 10px;
    overflow-y: auto;
  }
  .agents .agent {
    width: 40%;
    height: 100%;
  }
  .form_route {
    width: 45%;
    height: 45%;
    margin-bottom: auto;
    margin-top: 5%;
    border-radius: 10px;
  }
  .new_form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .carts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .chart_cont {
    margin: 5px;
  }
}
@media (min-width: 1000px) {
  .agents .agent {
    width: 20%;
  }
  .mx-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .mx-flex .mx-50 {
    width: 30vw;
    margin-right: auto;
    margin-left: auto;
  }
  .new_form {
    width: 30%;
  }
}

.nav_link.dark-accent-light:hover,
.nav_link.dark-accent-light.active {
  background-color: var(--dark-accent-light);
}

.bg-dark {
  background-color: var(--bg-dark);
}
.dark-accent {
  background-color: var(--dark-accent);
}
.dark-accent .location-search-input {
  color: var(--white);
}
.dark-gray {
  background-color: var(--dark-gray);
}
.dark-white {
  color: var(--white);
}
/* .table-dark thead {
  background-color: var(--dark-accent-light);
  color: var(--gray-dark);
}
.table-dark th,
.table-dark td {
  border-color: var(--dark-accent);
}

.table-dark tr:nth-child(even) {
  background-color: var(--dark-accent);
  color: var(--white);
} */

.loader {
  animation: spin 2s linear infinite;
}

@media (max-width: 500px) {
  header h2 {
    display: none;
  }
  header .user {
    margin-left: auto;
    margin-right: auto;
  }
  .agent {
    margin-top: 10px;
  }
  table {
    display: none;
  }
  header {
    padding: 0 10px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
