@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --white: #fff;
  --gray-dark: #91a1bd;
  --indigo: #626ee3;
  --gray: #dee9fd;
  --bg-dark: #02203c;
  --dark-accent: #15314b;
  --dark-gray: #475f7c;
  --dark-accent-light: #005a76;
  --light-gray: #f7f9fc;
  --dark-light: #021a31;
}
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-accent-light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(49, 49, 49);
}
a {
  text-decoration: none;
}
.container {
  width: 100vw;
  height: 100vh;
}

.login_form {
  width: 95%;
  background-color: var(--white);
  height: 48vh;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.user {
  padding-right: 3%;
  justify-content: flex-end !important;
}
.user_img {
  width: 120px;
  height: 120px;
  background-color: var(--dark-gray);
  border-radius: 50%;
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
}
.form_content {
  height: calc(100% - 90px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_input,
.btn_submit {
  background-color: var(--gray);
  width: 100%;
  height: 45px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.input {
  border: none;
  outline: none;
  background-color: none;
  background: none;
  font-weight: bold;
  flex: 1;
}
.btn_submit {
  border-radius: 5px;
  border: 1px solid var(--dark-gray);
  background-color: var(--dark-gray);
  color: var(--white);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.user span {
  font-weight: bold;
  margin: 0 10px;
}
nav {
  width: 200px;
  background-color: var(--bg-dark);
  height: 100vh !important;
  padding: 20px 10px;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
  overflow-y: auto;
}
nav.collaps {
  width: 60px;
  height: 100%;
}
header {
  flex: 1;
  height: 80px;
  background-color: var(--white);
  padding: 0 10px;
  width: 100% !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 2;
}
.form_route {
  width: 100%;
  padding: 80px 20px;
}
.agent_img {
  width: 200px;
  height: 200px;
  background-color: var(--gray);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.router_body {
  color: var(--dark-gray);
  flex: 1;
  overflow-y: auto;
}
.routes {
  padding: 10px;
  padding-top: 90px;
}
.user_icon {
  cursor: pointer;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  color: var(--white);
  background-color: var(--gray-dark);
  border-radius: 50%;
}
.nav_link {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--gray-dark);
  font-weight: bold;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.map {
  width: 200px;
  height: 200px;
  background-color: red;
  overflow: hidden;
}
.stat_group {
  width: 100%;
  height: 70vw;
  background-color: var(--white);
  border-radius: 5px;
  margin: 10px 0;
  padding: 30px;
}
nav.collaps .nav_link span {
  display: none;
}
.text {
  width: calc(100% - 40px);
}
.nav_link:hover,
.nav_link.active {
  background-color: var(--dark-accent);
  color: var(--white);
}
.display_text {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--dark-accent-light);
  margin: 10px;
}
.display_text h2 {
  font-weight: bolder;
  font-size: 35px;
  color: green;
  margin-bottom: 10px;
}
.nav-dark .nav_link:hover,
.nav-dark .nav_link.active {
  background-color: var(--bg-dark);
}
@media (min-width: 600px) {
  .login_form {
    width: 400px;
    height: 400px;
  }
  .login_form h3 {
    margin-top: 20px;
  }
  /* .chart_cont {
    margin: 5px;
    width: 300px;
    height: 300px;
    padding: 30px;
  } */
  .display_text {
    width: 200px;
    height: 100px;
  }
  .list {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.subStat {
  width: 100%;
  height: 100vw;
}
.sub_summary {
  width: 100%;
  max-height: 100vw;
}
@media (min-width: 700px) {
  .form_route {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .carts {
    display: flex;
    flex-wrap: wrap;
  }
  .subStat {
    width: 30%;
    max-height: 400px;
  }
  .sub_summary {
    width: 69%;
    max-height: 400px;
    margin-left: 1%;
  }
}

@media (max-width: 500px) {
  header h2 {
    display: none;
  }
  header .user {
    width: 100%;
    justify-content: space-between !important;
    padding-right: 20%;
  }
  .display_text {
    font-size: 20px;
  }
  .display_text h2 {
    font-size: 50px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  header .user {
    padding-right: 12% !important;
  }
  .display_text {
    margin: 10px 0;
  }
}
/* @media (min-width: 800px) and (max-width: 1340px) {
  .subStat {
    flex: 1;
    max-width: 500px;
  }
} */
@media (min-width: 600px) and (max-width: 1600px) {
  header .user {
    padding-right: 12% !important;
  }
}

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme {
  position: absolute;
  top: 10px;
  right: 10px;
}
.sh {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.text-center {
  text-align: center;
}
.error {
  font-size: 10px;
  color: #ff4081;
  font-weight: bold;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.justify-space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.align-flex-end {
  align-items: flex-end;
}
.align-flex-start {
  align-items: flex-start;
}
.bg-white {
  background-color: var(--white);
}
.flex-column {
  flex-direction: column;
}
.bg-light-gray {
  background-color: var(--light-gray);
}
.bg-dark {
  background-color: var(--bg-dark);
}
.dark-accent {
  background-color: var(--dark-accent);
}
.display_text.dark-accent {
  color: var(--white);
}
.dark-gray {
  background-color: var(--gray-dark);
}
.dark-white {
  color: var(--white);
}
.bg-dark-gray {
  background-color: var(--dark-gray);
}
.btn_submit.dark-indigo {
  border: 1px solid var(--indigo);
}
.dark-br-dark {
  border: 1px solid var(--bg-dark);
}
.sh-lg {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.dark-light {
  background-color: var(--dark-light);
}
#input_light {
  color: var(--bg-dark);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#input_dark {
  color: var(--white);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.btn_add {
  width: auto;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  margin-left: auto;
  margin-right: 10px;
}
.btn_add.dark-light {
  border-color: var(--dark-light);
}
.loader {
  animation: spin 2s linear infinite;
}
.compare {
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 15px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
